.page{width:100%;overflow:hidden;}
.page-bottom-black{background-color: #1f1c1c}
.delay1{animation-delay: 0.3s;-webkit-animation-delay:0.3s}
.delay2{animation-delay: 0.6s;-webkit-animation-delay:0.6s}
.delay3{animation-delay: 0.9s;-webkit-animation-delay:0.9s}
.delay4{animation-delay: 1.2s;-webkit-animation-delay:1.2s}
.delay5{animation-delay: 1.5s;-webkit-animation-delay:1.5s}
.delay6{animation-delay: 1.8s;-webkit-animation-delay:1.8s}
.delay7{animation-delay: 2.1s;-webkit-animation-delay:2.1s}
.delay8{animation-delay: 2.4s;-webkit-animation-delay:2.4s}


#music{position: fixed; top: 0.7rem; left: 0.7rem; width: 1.7rem; height: 1.7rem; z-index: 999;}
        #music #btn{width: 1.7rem;height: 1.7rem;}
        #music .on{
                    position: relative;
                    background: url('../images/music_off1.png') no-repeat 0 0;
                    background-size: 100% 100%;
                    -webkit-animation: rotating 1.2s linear infinite;
                    animation: rotating 1.2s linear infinite;
                    -moz-animation:rotating 1.2s linear infinite;
                    -o-animation:rotating 1.2s linear infinite;
                    }
        #music .on .gif{position: absolute;width:80px;height: 80px;   top: 10px;left: 10px; background: url('../images/music_gif.gif');
                    -webkit-animation: rotating 1.5s linear 0.2s infinite;
                    animation: rotating 1.5s linear 0.9s infinite;
                    -moz-animation:rotating 1.5s linear 0.9s infinite;
                    -o-animation:rotating 1.5s linear 0.9s infinite;
    }
        #music .off{background: url('../images/music_off2.png') no-repeat 0 0; background-size: 100% 100%;}
        #pic{
            width: 2rem;
            height: 2rem;
            position:fixed;
            top: 0;
            left: 0.9rem;
            z-index: 999;
        }
         .image{
            display: none;
        }







.spaceInUp {
  animation-name: spaceInUp;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: spaceInUp;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@-webkit-keyframes spaceInUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: scale(.2) translate(0%, 200%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: scale(1) translate(0%, 0%);
  }
}
@keyframes spaceInUp {
  0% {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: scale(.2) translate(0%, 200%);
  }

  100% {
    opacity: 1;
    transform-origin: 50% 0%;
    transform: scale(1) translate(0%, 0%);
  }
}

/* music */
@-webkit-keyframes rotating {
            from{
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to{
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes rotating {
            from{
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to{
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        