html{width:100%;height:100%;position: absolute;}
.main{width:100%;height:100%;position:absolute;background:url(../images/ml-bg.jpg) no-repeat;
    background-size:cover; }
.ml-logo{width:100%;display: block;}
.ml-nav{width:17rem;margin:0 auto;overflow:hidden;}
.ml-nav a{display: block;float:left;margin-top:0.4rem;width:5.4rem;height:5.05rem;}
