.page-con{margin-top:103px;}
.ygpp-banner{width:100%;height:600px;background:url(../images/ygpp-banner.jpg) no-repeat center 0;}
.ygpp-img{width:100%;display: block;margin:0 auto;}

.skcp-banner{width:100%;height:600px;background:url(../images/skcp-banner.jpg) no-repeat center 0;}
.skcp-img{width:100%;display: block;margin:0 auto;}
.sgzb-banner{width:100%;height:600px;background:url(../images/sgzb-banner.jpg) no-repeat center 0;}
.sgzb-img{width:100%;display: block;margin:0 auto;}
