/*导航*/
.sub_nav{position:fixed; display:block; top:1rem;right:1rem; width:1.875rem;height:1.875rem; z-index:17;}
.nav-btn{ width:1.875rem;height:1.875rem; background: url(../images/nav-btn.png) no-repeat center center; background-size: 100% 100%; overflow: hidden;}
.sub_conBox{position:fixed;top:0;left:0;width:100%;height: 100%;z-index:30;display:none;background: url(../images/sub-bg.jpg) no-repeat center center; background-size: 100% 100%;}
.sub_con{position:fixed; top:0; left:0; width: 100%;height:100%;z-index:99;display:none;}
.sub_con a{display:block; width:6.625rem;height:3.55rem;}
.sub_con a img{width: 100%; display: block;}
.nav-position{position: relative;}
.nav-position .po-lf{position: absolute;top:5rem;left: 2rem;}
.nav-position .po-rt{position: absolute;top:5rem;left: 9.5rem;}
.nav-position .po-t{top:0rem;}
.nav-position .po-t1{top:4rem;}
.nav-position .po-t2{top:8.1rem;}
.nav-position .po-t3{top:11.9rem;}
.nav-position .po-t4{top:11.675rem;}
.nav-position .nav-img7{margin-left:3.8rem;}
.nav-logo{width:7.85rem;height:3.075rem; margin: 9.4rem auto 0.62rem; background: url(../images/nav-logo.png) no-repeat center center; background-size: 100% 100%;}
/* music */
@-webkit-keyframes rotating {
            from{
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to{
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes rotating {
            from{
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to{
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        #music{position: fixed; top: 0.7rem; left: 0.7rem; width: 1.7rem; height: 1.7rem; z-index: 200;}
        #music #btn{width: 1.7rem;height: 1.7rem;}
        #music .on{
                    position: relative;
                    background: url('../images/music_off1.png') no-repeat 0 0;
                    background-size: 100% 100%;
                    -webkit-animation: rotating 1.2s linear infinite;
                    animation: rotating 1.2s linear infinite;
                    -moz-animation:rotating 1.2s linear infinite;
                    -o-animation:rotating 1.2s linear infinite;
                    }
        #music .on .gif{position: absolute;width:80px;height: 80px;   top: 10px;left: 10px; background: url('../images/music_gif.gif');
                    -webkit-animation: rotating 1.5s linear 0.2s infinite;
                    animation: rotating 1.5s linear 0.9s infinite;
                    -moz-animation:rotating 1.5s linear 0.9s infinite;
                    -o-animation:rotating 1.5s linear 0.9s infinite;
    }
        #music .off{background: url('../images/music_off2.png') no-repeat 0 0; background-size: 100% 100%;}
        #pic{
            width: 2rem;
            height: 2rem;
            position:absolute;
            top: 0;
            left: 1rem;
            z-index: 200;
        }
         .image{
            display: none;
        }
